// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Time New Roman';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.overflow{
    overflow-y: auto;
}

.phoneNumber{
    padding: 0px;
    margin: 0px;
    display: none;
}

.number{
    color: white;
    display:initial;
    text-align: center;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.Message{
    display: none;
}

.MessageActive{
    display: flex;
}

//Messages
.users{
    padding: 0;
}

li{
    list-style: none;
}

.user-wrapper,.message-wrapper{
    border: 1px solid #dddddd;
    overflow-y: auto;
}

.user-wrapper{
    height: 300px;
}

.user{
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    border-bottom: 1px solid #dddddd;
}

.user:hover{
    background-color: #eeeeee;
}

.user:last-child{
    margin-bottom: 0;
}

.pending{
    position: absolute;
    left: 13px;
    top: 9px;
    background: #b600ff;
    margin: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    line-height: 10px;
    padding-left: 5px;
    color: #ffffff;
    font-size: 12px;
}

.media{
    display: flex;
}

.media-left{
    margin: 0px 10px;
    margin-top: 6px;
}

.media-left img{
    height: 50px;
    width: 60px;
    border-radius: 50%;
}

.media-body p{
    margin: 6px 0;
}

.message-wrapper{
    padding: 10px;
    height: 536px;
    background: #eeeeee;
}
.slick-arrow{
    background-color: black;
    color: black;
}
.messages{
    padding: 0px;
}

.messages .message{
    margin-bottom: 15px;
}

.messages .message:last-child{
    margin-bottom: 0;
}

.received,.sent{
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}

.received{
    background: #ffffff;
}

.sent{
    background: #3bebff;
    float: right;
    text-align: right;
}

.message p{
    margin: 5px 0;
}

.date{
    color: #777777;
    font-size: 12px;
}

.Useractive{
    background: #eeeeee;
}

.message-input{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
}

.message-input:focus{
    border: 1px solid #aaaaaa;
}
